.contact-container {
  position: relative;
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #a5a9b278;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  z-index: 2;
  font-family: inherit
}

.contact-container h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.contact-container input::placeholder,
.contact-container textarea::placeholder {
  color: #4a4949;  /* Lighter color for placeholder */
}
.contact-container input,
.contact-container textarea {
  padding: 0.9rem 1.2rem;
  border: 1px solid #0f0cbb4c;
  background-color: #5d7dae12;
  font-family: Arial, Helvetica, sans-serif;
  color:#333;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
 
}

.contact-container input:focus,
.contact-container textarea:focus {
  border-color: #007bff;
  outline: none;
}

.nameInput,
.emailInput,
.messageInput {
  width: 100%;
  color: black;
}

.contact-container button {
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #FF5E61;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-container button:hover {
  background-color: #0056b3;
}

