#contactBox {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    max-width: fit-content;
}

#contact-content {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 10px;
}
#contact-content p{
    margin: 5px;
}


#contact-content img {
    width: 24px;
    height: 24px;
}