#contactBox {
    color: black;
    background-color: white;
    padding: 20px;
}

#contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#contact-content img {
    width: 24px;
    height: 24px;
}
