#info {
  display: grid;
  grid-template-columns: 1fr auto; /* contact, education */
  gap: 32px;
  width: auto;
  align-items: flex-start;
}

/* Contact wrapper */
#info > div {
  background: white;
  border-radius: 25px;
}

/* Education */
#education {
  display: grid;
  background: rgb(139, 255, 216);
  border-radius: 25px;
  padding: 25px;

  /* width: fit-content; */
}

#education img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  #info {
    grid-template-columns: 1fr; /* stack on narrow screens */
  }
}

.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.link{
  background-color: #FF5E61;
  color:white;
  border-radius: 30px;
  width: 300px;
  align-items: start;
  padding: 2px;
}
div a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 20px;
  height: 20px;
}