#info {
  max-width: 1200px;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 3rem;
  margin: 10px auto 0;
  padding: 0 2rem;
  align-items:start;
  justify-content: center; /* prevents left-anchoring */
}

/* Contact wrapper */
#info > div {
  background: #FDFEFE;
  border-radius: 25px;
}

/* Education */
#education {
  display: grid;
  background: #FDFEFE;
  border-radius: 25px;
  padding: 25px;

  width: fit-content;
}

#education img {
  width: 105%;
  height: 105%;
}

@media (max-width: 900px) {
  #info {
    grid-template-columns: 1fr; /* stack on narrow screens */
  }
}

.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-top: 50px;
}
.link{
  background-color: #FF5E61;
  color:white;
  border-radius: 30px;
  width: 300px;
  align-items: start;
  padding: 2px;
}
div a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 20px;
  height: 20px;
}