.banner {
/* filepath: c:\Users\Chloe\PersonalProjects\portfolio-ChloeHaynes\src\components\Banner\styles.css */
  padding: 50px 10px; /* Top and bottom padding */
  margin: 50px 50px;
  width: 75%;
  
  display: flex;
  flex-direction: column;      /* stack vertically */
  align-items: center;         /* center horizontally */
  justify-content: center;     /* center vertically inside banner height */
  /* gap: 30px; */ /* This gap applies to direct children of .banner, like .banner-content */
  
  text-align: center;
  border-radius: 30px;
  
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the text elements if they have varying widths */
  gap: 15px; /* This will create space between h1, p, etc. inside .banner-content */
}

.hint{
    color: rgba(0, 0, 0, 0.4); /* or just a normal color */
}
/* .btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #f8a41f;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
} */
