.banner {
/* filepath: c:\Users\Chloe\PersonalProjects\portfolio-ChloeHaynes\src\components\Banner\styles.css */
  padding: 50px 10px; /* Top and bottom padding */
  margin: 50px 50px;
  width: 75%;
  display: flex;
  flex-direction: column;      /* stack vertically */
  align-items: center;         /* center horizontally */
  justify-content: center;     /* center vertically inside banner height */
  /* gap: 30px; */ /* This gap applies to direct children of .banner, like .banner-content */
  
  text-align: center;
  border-radius: 30px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 15px; /* This will create space between h1, p, etc. inside .banner-content */
}
.banner-content h3{
  font-weight: bold;
}
.hint{
  color: rgba(0, 0, 0, 0.4); /* or just a normal color */
}
.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.link{
  background-color: #FF5E61;
  color:white;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  width: 300px;
  align-items: start;
}
div a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 20px;
  height: 20px;
}
